.item {
  margin: 1rem 0;
}

.image {
  display: flex;
  width: 100%;
  height:12rem;
  overflow: hidden;
  justify-content: center;
}

.image img {
  width: 70%;
  border-radius: 15px;
  object-fit: cover;
}

.content {
  color: var(--secondaryColor);
  text-align: center;
  padding: 1rem;
}

.content h2 {
  margin: 00.5rem;
  font-size: 1.5rem;
  color: var(--headlinesColor);
}

.actions {
  padding: 1.5rem;
  text-align: center;
}
.map{
  height: 20rem;
  width: 100%;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: var(--headlinesColor);
  border: 1px solid var(--secondaryColor);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;

}

.actions button:hover,
.actions button:active {
  background-color: var(--headlinesColor);
  color: var(--secondaryColor);
  box-shadow: 0 1px 8px var(--secondaryColor);


}
