.ldsDualRing {
    display: inline-block;
    width: 4rem;
    height: 4rem;
  }
  
  .ldsDualRing:after {
    content: ' ';
    display: block;
    width: 2.785rem;
    height: 2.785rem;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #510077;
    border-color: var(--headlinesColor) transparent var(--secondaryColor) transparent;
    animation: ldsDualRing 1.2s linear infinite;
  }
  
  .loadingSpinnerOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(255, 255, 255, 0.9); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
  }
  
  @keyframes ldsDualRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  