.control {
    margin-bottom: 0.5rem;
  }

  .center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
  .image_upload{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .image_upload__preview{
    flex-direction: column;
    display: flex;
    width: 15rem;
    height: 9rem;
    border: 1.5px solid var(--secondaryColor);
    margin: 1rem;
    text-align: center;
    justify-content: center;
    }
  
  .image_upload__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .buttons{
  display: flex;
  justify-content: space-around;
  } */
  .actions button {
    font: inherit;
    cursor: pointer;
    color: var(--primaryColor);
    border: 1px solid var(--tertiaryColor);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: var(--primaryColor);
    color: var(--tertiaryColor);
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.851);
  
  }
.actions button:disabled,
.actions button:hover:disabled,
.actions  button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
