@import "../../colorPlate.css";
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
}
.logo {
  font-size: 2.2rem;
  color: var(--secondaryColor);
  font-weight: bold;
  margin: 0.5rem;
 transition: transform .4s ease-in-out;
}
.logo:hover{
  transform: rotate(360deg)
}
.badge {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 608px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
