.mainNav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.mainNav li {
  list-style: none;
  padding: 0.5rem;
}

.mainNav a {
  text-decoration:none;
  font-weight: bold;
  font-size: 1rem;
  color: var(--backgroundColor);
  display: block;
}
.hr{
  color: transparent;
}

.mainNav a:hover,
.mainNav a:active,
.mainNav a.active {
  color: var(--secondaryColor);
  font-size: 1.3rem;

}
.logoutButton{
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: var(--backgroundColor);
  display: block;
}
 .logoutButton:hover,
 .logoutButton:active,
 .logoutButton.active{
  color: var(--secondaryColor);
  font-size: 1.3rem;
  text-decoration-color:var(--secondaryColor) ;
 }

@media (max-width: 608px) {
  .mainNav {
    display: flex;
    width: 100%;
  }
  .mainNav.li.close {
    display: none;
  }
  .mainNav.active {
    display: flex;
  }
  .mainNav li {
    display: flex;
    width: 100%;
    text-decoration: underline ;
    text-decoration-color:var(--backgroundColor);
    justify-content: center;
    text-align: center;
    padding: 0.2rem 0.5rem;
  }
  .mainNav ul {
    width: 100%;
    flex-direction: column;
  }
  .mainNav a {
    width: 100%;
    font-size: 1.25rem;
  }
  .logoutButton{
    width: 100%;
    font-size: 1.25rem;
    
  }
  .mainNav li:hover{
    text-decoration-color:var(--secondaryColor);
  }
}
