.formControl {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .formControl label,
  .form-control input,
  .formControl textarea {
    display: block;
  }
  
  .formControl label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .formControl input,
  .formControl textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
  }
  
  .formControl input:focus,
  .formControl textarea:focus {
    outline: none;
    border: 3px solid;
    background: #ebebeb;
    border-color: var(--secondaryColor);
  }
  
  .formControlInvalid label,
  .formControlInvalid p {
    color: red;
  }
  
  .formControlInvalid input,
  .formControlInvalid textarea {
    border-color: red;
    background: #ffd1d1;
  }