:root {
  --primaryColor:linear-gradient(to bottom right,#202d28  0%,#00ab6c  100%);
  --secondaryColor: #ffffff;
  --headlinesColor:#000000 ;
  --backgroundColor:#f0f0f0;
  --tertiaryColor: #669900 ;
}
