@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "./colorPlate.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-image: url(./ui/background-image/forest.jpg);
  background-size: cover;
  color: var(--headlinesColor);
  min-width: 200px;
}

h1 {
  font-size: 2.5rem;
  color: var(--tertiaryColor);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--tertiaryColor);
  text-shadow: 0 1px 2px var(--headlinesColor);

}
