@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "./colorPlate.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--headlinesColor);
  min-width: 200px;
}

h1 {
  font-size: 2.5rem;
  color: var(--tertiaryColor);
}

h2 {
  margin-block-start: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--headlinesColor);
}
