.image {
    display: flex;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    justify-content: center;
  }
  
  .image img {
    width: 45%;
    border-radius: 15px;
  }
  .ownerDetails{
    display:flex;
    justify-content: center;
  }
  .ownerName{
   padding-inline:1rem
  }
  h4{
    color: var(--headlinesColor)
  }
  h4,p{
    margin:0.3rem
  }

  @media (max-width: 374px) {
    .image img {
      width: 75%;}
  }