.loginForm {
    list-style: none;
    margin-left: 5%;
        padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
.actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: var(--tertiaryColor);
    border: 1px solid var(--tertiaryColor);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    box-shadow: 0 1px 8px var(--tertiaryColor);
  
  }
.actions button:disabled,
.actions button:hover:disabled,
.actions button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
.switchModeButton{
  background-color: transparent;
  border: none;
  color: var(--tertiaryColor);
  text-decoration: underline;
}
.switchModeButton:hover,
.switchModeButton:active{
  color: var(--headlinesColor);
cursor: pointer;
}